
[Unit]
  Description=mount {{STUNNEL_REMOTE_HOST}}:{{SAMBA_REMOTE_MOUNT}} on {{SAMBA_LOCAL_MOUNT}}
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=//localhost/{{SAMBA_REMOTE_MOUNT}}
  Where={{SAMBA_LOCAL_MOUNT}}
  Options=credentials={{SAMBA_CREDENTIALS_FILE}},port={{STUNNEL_LOCAL_PORT}},uid={{SAMBA_MOUNT_UID}},gid={{SAMBA_MOUNT_GID}}
  Type=cifs

[Install]
  WantedBy=multi-user.target
