
[Unit]
  Description=automount {{STUNNEL_REMOTE_HOST}}:{{SAMBA_REMOTE_MOUNT}} on {{SAMBA_LOCAL_MOUNT}}
  Requires=network-online.target
  After=network-online.service

[Automount]
  Where={{SAMBA_LOCAL_MOUNT}}
  TimeoutIdleSec=10

[Install]
  WantedBy=multi-user.target

