
service stunnel-sever
{
    disable         = no
    port            = {{stunnel_server.0.listen_port}}
    type            = UNLISTED
    flags           = REUSE
    socket_type     = stream
    wait            = no
    user            = root
    server          = {{stunnel_server.0.stunnel_bin}}
    server_args     = {{stunnel_server.0.stunnel_config}}
}

