syslog = yes

socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
TIMEOUTidle = 300

cert={{stunnel_server.0.cert}}
key={{stunnel_server.0.key}}
CApath={{stunnel_server.0.capath}}

ciphers = HIGH
connect = localhost:139
